[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
pytest = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
"e1839a8" = {path = ".", editable = true}

[dev-packages]
httpie = "*"

[requires]
python_version = "3.6"
